<div class="container-fluid" id="support">
    <div class="row">
        <div class="col-12">
          <h1 class="text-center">Bienvenue sur la page d'administrateur</h1>
          <p>Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures. Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.Ce tableau de bord est dedié pour l'adminostrateur du projet FAKOY.
            FAKOY, un projet conçu par la Team iTudiant lors de l'hackathon DevFest 2022, a pour but de
            lutter contre la pollution. Cette application permet aux utilisateur de bénéficier un prix correspondant à
            chaque quantités d'ordures qu'il va remettre auprès du point de ramassage. Les ordures seront vendu aux entreprise de recyclage
            ou pour les entreprises qui correspondent aux types d'ordures.
          </p>
        </div>
    </div>
</div>
