<header class="my-1 px-md-3 px-1 py-2">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-6 d-flex justify-content-start">
                <div class="d-flex align-items-center logo" id="logo">
                    <span class="p-1 rounded-3 position-relative">
                        <img src="assets/images/Logo_FAKOY.png" alt="FAKOY"
                            class="mx-1" width="41">
                    </span>
                    <span class="fs-4 fw-bold mx-md-3 mx-2">FAKOY</span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="d-flex align-items-center
                    justify-content-center rounded-pill p-1 session" id="session">
                    <span class="p-1 rounded-circle position-relative">
                        <img src="assets/images/linux_kernel.png" alt="Admin"
                            class="" width="23">
                    </span>
                    <span><button class="btn btn-secondary rounded-3">Se déconnecter</button></span>

                </div>
            </div>
        </div>
    </div>
</header>
