<div class="container-fluid" id="accueil">
    <div class="row">
        <div class="col-12">
            <img class="justify-content-center" src="../../../../assets/images/FAKOY.gif" alt="FAKOY" width="20%">
            <h1>Statistiques des ordures par point de rammassage</h1>
            <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-colored thead-success">
                <tr>
                  <th class="wd-10p">Fokontany</th>
                  <th class="wd-35p">Point de ramassage</th>
                  <th class="wd-35p">Type</th>
                  <th class="wd-20p">Quantités</th>
                </tr>
              </thead>
              <tbody>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Amboditsiry</th>
                  <td>5</td>
                  <td>Bio</td>
                  <td>41 Kg</td>
                </tr>
                <tr class="other">
                  <th scope="row">Androhibe</th>
                  <td>14</td>
                  <td>Plastique</td>
                  <td>20 Kg</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
    </div>
</div>
