<div class="container-fluid" id="parametres">
    <div class="row">
        <div class="col-12">
          <h3>Ajouter un autre compte Admin</h3>
          <form action="">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email"> <br>
            <label for="password">Mot de passe</label><br>
            <input type="password" name="password" id="password"><br>
            <input type="submit" class="btn btn-success my-5" value="Créer">
          </form>
      </div>
</div>
