<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <img src="../../../../dashboard/src/assets/images/Logo_FAKOY.png" width="15%" alt="">
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">SE CONNECTER</h1>
            <form method="" class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="email">Adresse Email</label>
                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>

              </div>

              <div class="mb-3">
                <div class="mb-2 w-100">
                  <label class="text-muted" for="password">Mot de passe</label>
                </div>
                <input id="password" type="password" class="form-control" name="password" required>

              </div>

              <div class="d-flex align-items-center">

                <button type="submit" class="btn btn-success ms-auto">
                  Se connecter
                </button>
                <a  routerLink="dashboard">Alllez</a>
              </div>
            </form>
          </div>

        </div>
        <div class="text-center mt-5 text-muted">
          iTudiant &copy; Projet FAKOY &mdash; DevFest 2022
        </div>
      </div>
    </div>
  </div>
</section>
