<div class="d-flex align-items-center justify-content-center bg-gray-300 ht-500 pd-x-20 pd-xs-x-0">
  <div class="card wd-350 shadow-base">
    <div class="card-body pd-x-20 pd-xs-40">
      <h5 class="tx-xs-24 tx-normal tx-gray-900 mg-b-15">Binevenue</h5>
      <p class="mg-b-30 tx-14">Veuillez vous connecter </p>

      <div class="form-group">
        <input class="form-control" type="text" name="email" placeholder="Enter email address">
      </div><!-- form-group -->
      <div class="form-group">
        <input class="form-control" type="text" name="password" placeholder="Entrer votre mot de passe">
      </div><!-- form-group -->
      <button class="btn btn-info btn-block">Se connecter</button>
    </div><!-- card-body -->
  </div>
</div>
