
<div class="container-fluid" id="accueil">
  <div class="row">
      <div class="col-12">
        <img class="justify-content-center" src="../../../../assets/images/FAKOY.gif" alt="FAKOY" width="20%">
        <h3>Historiques des ordures apportés par l'utilisateur des utilisateurs</h3>
        <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="thead-colored thead-success">
            <tr>
              <th class="wd-10p">Nom de l'utilisateur</th>
              <th class="wd-10p">ID utilisateur</th>
              <th class="wd-35p">Quantités d'ordures apportés</th>
              <th class="wd-20p">Statut de paiement</th>
              <th class="wd-20p">Date</th>
              <th class="wd-20p">Lieu</th>
            </tr>
          </thead>
          <tbody>

            <tr class="other">
              <th scope="row">RAJAONARIVELO Joyo</th>
              <td>1</td>
              <td>6 fk</td>
              <td>Payé</td>
              <td>10/10/22</td>
              <td>Amboditsiry</td>
            </tr>
            <tr class="other">
              <th scope="row">RAKOTOARISOA Louis Sergio</th>
              <td>2</td>
              <td>5 fk</td>
              <td>Non Payé</td>
              <td>10/10/22</td>
              <td>Amboditsiry</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>
