<h1><img class="text-center" src="../../../../assets/images/FAKOY.gif" alt="FAKOY" width="15%"></h1>

<div class="container-fluid" id="utilisateurs">
  <div class="row">
      <div class="col-12">
        <h3>Liste des sensibilisations</h3>
        <div class="table-responsive">
        <table class="table">
          <thead class="thead-colored thead-success">
            <tr>
              <th class="wd-10p">Description</th>
              <th class="wd-10p">Image</th>
              <th class="wd-35p">Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <tr class="other">
              <th scope="row">RAJAONARIVELO Joyo a fait de lorem Upsum aujourd'hui</th>
              <td><img src="../../../../assets/images/FAKOY_1.png" width="15%" alt=""></td>
              <td routerLink=""><button class="btn btn-warning" routerLink="dashboard/sensibilisation">Modifier</button></td>
              <td><button class="btn btn-danger">Supprimer</button></td>
            </tr>
            <tr class="other">
              <th scope="row">RAJAONARIVELO Joyo a fait de lorem Upsum aujourd'hui</th>
              <td><img src="../../../../assets/images/FAKOY_2.png" width="15%" alt=""></td>
              <td ><button class="btn btn-warning" routerLink="/dashboard/support">Modifier</button></td>
              <td><button class="btn btn-danger">Supprimer</button></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<h1 class="text-center"><img src="https://thumbs.dreamstime.com/z/gens-qui-nettoient-les-ordures-personnages-de-dessin-animé-tri-et-recyclage-des-déchets-bénévoles-heureux-portent-sacs-une-216980867.jpg" width="15%" class="rounded-circle" alt=""></h1>
<h1 class="text-center">Ajouter une Sensibilisation</h1>
<div class="d-flex align-items-center justify-content-center shadow-lg fakoy">
  <div class="card wd-350 shadow-base">
    <div class="card-body pd-x-20 pd-xs-40 mb-5">
          <form action="" class="text-dark">
            <h3 style="color: #6a4d3d;">Veuillez remplir ce formulaire</h3>
            <h4>Description</h4>
            <textarea name="Description" id=""  cols="40" rows="3" placeholder="Description"></textarea> <br>
            <h4>Image</h4>
            <input type="file" placeholder="Ajouter une image"> <br>
            <input class="btn btn-success mt-3" type="submit" value="Valider">
          </form>
    </div><!-- card-body -->
  </div>
</div>
