<div class="container-fluid" id="taches">
    <div class="row">
        <div class="col-12">
          <img class="justify-content-center" src="../../../../assets/images/FAKOY.gif" alt="FAKOY" width="15%">
          <h1>Ajouter une Actualité</h1>
          <form action="">
            <textarea name="Description" id="" cols="50" rows="10" placeholder="Description"></textarea> <br>
            <input type="file" placeholder="Ajouter une image"> <br>
            <input class="valider" type="submit" value="Valider">
          </form>
        </div>
    </div>
</div>
